---
id: 4
title: Blog
permalink: /blog/
excerpt: See our latest blog posts!
image: wools.jpg
options: nolanding
background-image: wools.jpg
---
{%  if site.posts %}{%
    if site.tags.featured %}
<hr style="margin:0 0 1em 0;" />
<h4>Featured</h4>
<ul class="post-list">{%
      for post in site.categories.blog %}{%
        if post.tags contains "featured" %}
    <li>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        <div class="container">
          <p class="post-title">{{ post.title }}</p>
          <p class="post-date">{{ post.date | date: "%Y-%m-%d" }}</p>
          <p class="post-desc">{{ post.excerpt | strip_html | truncatewords: 12 }}</p>
        </div>
      </a>
    </li>{%
        endif %}{%
      endfor %}
</ul>{%
    endif %}
<hr style="margin:1em 0 1em 0;" />

  <ul style="list-style-type: none;">{%
    assign p = '9999'
%}{%  for post in site.categories.blog
%}{%    assign n = post.date | date: "%Y"
%}{%    if n != p
%}{%      assign p = n
%}
    <br /><h5>{{ n }}</h5>{%
      endif %}
    <li style="padding-bottom: 6px;"><code>[{{ post.date | date: "%d %b" }}]</code>&nbsp;
      <a href="{{ post.url | prepend: site.baseurl }}" style="white-space: nowrap;"><b>{{ post.title }}</b></a>&nbsp;
        {{ post.excerpt | strip_html | truncatewords: 12 }}</li>{%
    endfor
%}
  </ul>

{%  endif %}

{%
if site.social.linkedin-square %}
<div class="table-wrapper">
  <table class="alt"><tbody><tr><td style="text-align: center;">Visit my
  <a target="_blank" href="{{ site.social.linkedin-square }}">LinkedIn profile</a></td>
  </tr></tbody></table>
</div>{%
endif %}
{%
if site.categories.works %}
<div class="table-wrapper">
  <table>
    <tbody>{%
      include fn_groupsort_reverse.html unsorted=site.categories.works groupby='priority' sortby='date'
%}{%  for work in sorted_list %}
      <tr>
        <td><b><a href="{{ work.url | prepend: site.baseurl }}">{{ work.title }}</a></b></td>
        <td>{{ work.date | date: "%b %Y" }}</td>
        <td>{{ work.excerpt | strip_html | truncatewords: 12 }}</td>
        <td>
          {% include techlist.html %}
        </td>
      </tr>{%
      endfor %}
    </tbody>
  </table>
</div>{%
  if site.works_in_progress %}
  <div class="works_inprogress">In-progress, more to come.</div>{%
  endif %}{%
endif
%}
